<%- include('../partials/header') %> 
<% if (user) { %>
<div id="project_header">All Projects</div>

<table class="all_projects">
    <tbody>
      <% projectDocs.forEach(function(project) { %>
        <tr>
            
              <td id="projectName"><%=project.projectName %></td>
             
              <td id="budget"><strong>Budget: </strong> $ <%= project.budget %></td>
              
              <td id="project_link"><a href="/projects/<%=project._id %>">View Project</td>
            
            <% }); %>
          </tr>
      </tbody>
    </table>
    <% } else { %>
      <main class="login_prompt">
        <h2>LOGIN WITH YOUR GOOGLE ACCOUNT TO GET STARTED</h2>
      </main>  
      <% } %>
<%- include('../partials/footer') %>,