<%- include('../partials/header') %> 
<% if (user) { %>
<h1 id="project_header">All Projects</h1>
<table class="users">
    <tbody>
      <% projectDocs.forEach(function(project) { %>
        <tr>
            <td id="projectName"><%=project.projectName %></td>
           
            <td id="budget">$ <%= project.budget %></td>
    
            <td id="project_link"><a href="/projects/<%=project._id %>">View Project</td>

            <% }); %>
          </tr>

          <td id="userName"><%=user.name %></td>
         

        </tr>
      
     
      </tbody>
    </table>
    <% } else { %>
      <main class="login_prompt">
        <h2>LOGIN WITH YOUR GOOGLE ACCOUNT TO GET STARTED</h2>
      </main>  
      <% } %>
<%- include('../partials/footer') %>,