<%- include('../partials/header') %>
  <% if (user) { %>

    <body class="show_project">
      <header id="project_show_header">Project Information
      </header>
      <br><br>
      <section class="project_profile">
        <td id="show_project_name"><strong>Project Name</strong>
      </div>
        <%= project.projectName %>
      </td>
      <td id="show_langauge_needs"><strong>Coding/Programming Languages and Skills Needed:</strong>
        <%= project.languagesNeeded %>
      </td>
      <td id="show_budget"><strong>Budget: $</strong>
        <%= project.budget %>
      </td>
      <td id="show_start_date"><strong>Desired Start Date"</strong>
        <%= project.startDate %>
      </td>
      <td id="show_end_date"><strong>Project Deadline:</strong>
        <%= project.endDate %>
      </td>
      <td id="Project Details"><strong>Project Details</strong>
        <%= project.projectDetails %>
      </td>
      </select>
      <td id="project_owner"><strong>Project Owner</strong> 
        <%= project.projectOwner %> 
      </td>
      </form>
      </td>
      <br><br>
      <form action="/projects/<%= project._id %>/edit/">
        <button id="edit" type="edit">EDIT PROJECT</button>
      </section>      
    </body>
    <% } else { %>
      <main class="login_prompt">
        <h2>LOGIN WITH YOUR GOOGLE ACCOUNT TO GET STARTED</h2>
      </main>
      <% } %>




        <%- include('../partials/footer') %>,