<%- include('../partials/header') %>
<% if (user) { %>
    <div class="all_users">All PROFILES</div>
    <section class="customer_profile">
        <% allProfiles.forEach(function(customer) {%>
            <div class="customer_entry">
                <p id="show_name"><strong>Name: </strong><%= customer.name %></p>
                <p id="show_role"><strong>Role: </strong><%= customer.customerType %></p>
                <p id="profile_link"><a href="/customers/<%= customer._id %>">View Profile</a></p>
            </div>
            <br><br>
        <% }); %>
    </section>
<% } else { %>
    <main class="login_prompt">
        <h2>LOGIN WITH YOUR GOOGLE ACCOUNT TO GET STARTED</h2>
    </main>  
<% } %>
<%- include('../partials/footer') %>
