<%- include('../partials/header') %>
<% if (user) { %>
<body class="edit_profile_page">
    <form action="/customers/<%= customer._id %>?_method=PUT" method="POST" class="update_profile">
        <div id="edit_header">
            <h2>Edit Profile</h2>
        </div>
        <td id="name"><strong>Name: </strong><%= user.name %>
        </td>
        <br><br>
        <td id="description_title"><strong>Description:</strong></td>
        <br><br>
        <input id="description" type="text" name="description" value="<%= customer.description %>" >
        </label>
        <br><br>
        <label><strong>Website Link: </strong>
            <input id="link" type="text" name="link" value=" <%= customer.link %>">
        </label>
        <br><br>
        <label><Strong>Timezone</Strong>
            <select id="timezone" name="timeZone" value=" <%= customer.timeZone %>">
                <option value="East Coast">East Coast</option>
                <option value="Central">Central</option>
                <option value="Mountain">Mountain</option>
                <option value="Pacific Coast">Pacific Coast</option>
                <option value="Other">Other</option>
            </select>
        <br><br>
        <button id="update_profile" type="submit">Update Profile</button>
    </form>

<% } else { %>
        <main class="login_prompt">
          <h2>LOGIN WITH YOUR GOOGLE ACCOUNT TO GET STARTED</h2>
        </main>
    <% } %>
<%- include('../partials/footer') %>, 