<%- include('../partials/header') %>
  <% if (user) { %>
    <div id="user_header">My Details</div>
    <br><br>
    <table class="user_profile">
        <div id="avatar"><img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer">
        </div>
        <div id="userName">
            <%=user.name %>
        </div>
        <div id="userEmail">
        <%= user.email %>
        </div>
    </table>  
      <% } else { %>
        <main class="login_prompt">
          <h2>LOGIN WITH YOUR GOOGLE ACCOUNT TO GET STARTED</h2>
        </main>
        <% } %>
          <%- include('../partials/footer') %>