<%- include('../partials/header') %>
  <% if (user) { %>

    <body>
      <div id="show_header"><strong> Profile </strong></div>
      <tbody>
        <br><br>
        <div class="customer_profile">
          <td id="show_name"><strong>Name:</strong>
            <%= customer.name %>
          </td>
          <br><br>
          <td id="show_description"><strong> Description: </strong>
            <%= customer.description %>
          </td>
          <tr id="show_role"><strong>Role: </strong></tr>
          <%= customer.customerType %>
            <br><br>
            <td id="show_link"><strong>Link:</strong>
              <%= customer.link %>
            </td>
            <br><br>
            <td id="show_timezone"><strong> TimeZone:</strong>
              <%= customer.timeZone %>
            </td>
            <br><br>
            <td id="show_email"><strong> Email:</strong>
              <%= customer.email %>
            </td>
            </tr>
        </div>
        <form action="/customers/<%= customer._id %>?_method=DELETE" method="POST" class="delete_profile">
          <button id="delete_profile" type="submit">DELETE CUSTOMER PROFILE
          </button>
        </form>
        <form action="/customers/<%= customer._id %>/edit/">
          <button type="edit">EDIT PROFILE</button>
              </tr>
            </section>
          </form>  
      </tbody>
    </body>
    <% } else { %>
      <main class="login_prompt">
        <h2>LOGIN WITH YOUR GOOGLE ACCOUNT TO GET STARTED</h2>
      </main>
      <% } %>
        <%- include('../partials/footer') %>